ul {
    list-style-type: none;
}
li {
    background-color: white;
    border: solid 3px black;
    margin-top: 5px;
    padding-left: 2px;
    width: 12em;
}
.loc_address {
    font-size: 70%;
}
#message_box {
    position: absolute;
    width: 95vw;
    z-index: 10;
    top: 2em;
    visibility: hidden;
}
#message_control {
    float: right;
    padding-right: 5px;
}
#filter {
    position: absolute;
    z-index: 1;
    top: 0px;
    background-color: grey;
    margin: 5px;
}
#location_list {
    z-index: 1;
    position: absolute;
    top: 3em;
    margin-top: 15px;
}
#selection_filter {
    float: right;
    margin: 10px 25px;
    border: 3px solid black;
}
#map-canvas {
    background-color: white;
    z-index: 0;
    height: 100vh;
    width: 100vw
}
#msg_name {
    display: block;
}
#msg_address {
    display: block;
}
#msg_phone {
    display: block;
}
#msg_hours {
    display: block;
}
#container-fluid {
    visibility: hidden;
}